<%= form_for(@shipment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Create new shipment..." %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>