<li>
  <span class="content"><%= shipment.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(shipment.created_at) %> ago.
  </span>
  <% if current_user?(shipment.user) %>
    <%= link_to "delete", shipment, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: shipment.content %>
  <% end %>
</li>